@model ParksMVC.Models.Park;

<h4>Park Information</h4>
<hr />
<div class="row justify-content-start">
<img src='@Model.PhotoUrl' style="width:640px" class="col-6"/>
<table class="col-6">
  <tr>
    <th>@Model.Name &emsp; @Model.Location</th>
  </tr>
  <tr>
    <td>@Model.Description</td>
  </tr>
</table>
</div>

<a href='@Url.Action("Edit", "Parks", new { id = @Model.ParkId })'><button class="btn btn-header">Edit Park Details</button></a>